

.switch
{
    position: relative;
    display: inline-block;
    width: 3.6vh;
    height: 1.8vh;
}

.switch input
{
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-inactive-color);
    border-radius: 50px;
    transition: .4s;
}

.switch .slider:before 
{
    position: absolute;
    content: "";
    height: 1vh;
    width: 1.5vh;
    left: 0.3vh;
    bottom: 0.45vh;
    background-color: white;
    transition: .4s;
    border-radius: 50px;
}

.switch input:checked + .slider 
{
    background-color: var(--toggle-active-color);
}

.switch input:checked + .slider:before 
{
    transform: translateX(1.6vh);
}
