#widget-repo
{
    width: 100%;
    color: var(--darkmode-affected-text-color);
    transition: 0.2s;
    border-collapse: collapse;
    font-size: 2vh;
    border-radius: 1.5vh;
    overflow: hidden;
}

#widget-repo tr td, th
{
    padding-left: 0.5vh;
    padding-right: 0.5vh;
}

#widget-repo tr td
{
    height: 6vh;
}

#widget-repo tr
{
    background-color: var(--repo-table-color-even);
}

#widget-repo tr:nth-of-type(2n)
{
    background-color: var(--repo-table-color-odd);
}

#widget-repo tr:first-child
{
    border-style: none none solid none;
    background-color: var(--repo-table-color-header);
    color: var(--repo-table-text-color-header);
    border-color: var(--repo-table-border-color);
    border-width: 0.5vh;
}

#widget-repo tr:not(:first-child)
{
    border-style: solid none none none;
    border-width: 0.1vh;
    border-color: var(--repo-table-border-color);
}

#widget-repo tr td:not(:first-child), th:not(:first-child)
{
    border-style: none none none solid;
    border-width: 0.1vh;
    border-color: var(--repo-table-border-color);
}

#upload-widget, #upload-widget-cancel
{
    top: 2.5vh;
    right: 2.5vh;
    position: absolute;
}

#app-files
{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10vh;
}

#app-files input
{
    border-style: solid;
    border-width: 0.25vh;
    border-color: var(--primary-color);
    background-color: white;
    padding: 2vh;
    border-radius: 1vh;
    font-size: 1.5vh;
    color: black;
}

#app-upload
{
    margin-top: 3vh;
    text-align: center;
}

#app-upload button
{
    width: auto;
    height: auto;
    padding: 1.5vh;
    border-radius: 1vh;
}