<title>GnHome</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="../style/colors/light.css" type="text/css" rel="stylesheet" id="color-style">
<link href="../style/toggle-switch.css" type="text/css" rel="stylesheet">
<link href="../style/modal-popup.css" type="text/css" rel="stylesheet">
<link href="../style/widget-repository.css" type="text/css" rel="stylesheet">
<link href="../style/main.css" type="text/css" rel="stylesheet">
<link href="../style/scrollbar.css" type="text/css" rel="stylesheet">