<nav>
    <div id="nav-header">Menu</div>
    <span id="nav-collapse"><i class="fa fa-angle-right"></i></span>
    <ul>
        <li><span class="text">Dashboard</span><i class="fa fa-dashboard"></i></li>
        <li class="disabled"><span class="text">Settings</span><i class="fa fa-gear"></i></li>
        <hr hidden>
    </ul>
</nav>
<script src="../src/nav.js"></script>