<HTML>
    <head>
        <%- include ../partials/head.ejs %>
        <script src="../src/elm/Main.js"></script>
        <script src="../src/elm/WidgetCanvas.js"></script>
    </head>
    <body>
        <!-- <%- include ../partials/nav.ejs %> -->
        <script>
                const app = Elm.Main.init();
        </script>
        <script src="../src/nav.js"></script>
        <%- include ../partials/header.ejs %>
        <main><div id="widget-canvas"></div></main>
        <script src="../src/widget-canvas.js"></script>
        <script>
            const canvasApp = Elm.WidgetCanvas.init({ node: document.getElementById("widget-canvas") });
            const widgetCanvas = new WidgetCanvas(document.querySelector("main"));
        </script>
        <%- include ../partials/footer.ejs %>
    </body>
</HTML>