<HTML>
    <head>
        <%- include ../partials/head.ejs %>
        <script src="../src/elm/WidgetCanvas.js"></script>
    </head>
    <body>
        <%- include ../partials/header.ejs %>
        <%- include ../partials/nav.ejs %>
        <main><div id="elm-app"></div></main>
        <script src="../src/widget-canvas.js"></script>
        <script>
            const app = Elm.WidgetCanvas.init({ node: document.getElementById("elm-app") });
            const widgetCanvas = new WidgetCanvas(document.querySelector("main"));
        </script>
        <%- include ../partials/footer.ejs %>
    </body>
</HTML>