:root
{
    --primary-color: rgb(255, 136, 24);
    --primary-border-color: rgb(185, 102, 24);
    --primary-unfocus-color: rgb(250, 162, 79);

    --nav-color: rgb(73, 68, 62);
    --nav-border-color: rgb(54, 52, 49);
    --nav-item-color: rgb(85, 79, 71);
    --nav-item-hover-color: rgb(114, 103, 89);
    --nav-item-disabled-color: rgb(58, 58, 57);

    --background-color: rgb(41, 37, 31);
    --blocker-color: rgba(214, 212, 210, 0.2);
    --widget-background-color: rgb(140, 140, 120);

    --main-text-color: rgb(21, 19, 43);
    --header-nav-text-color: rgb(247, 249, 255);
    --darkmode-affected-text-color: rgb(247, 249, 255);
    --disabled-text-color: rgb(84, 84, 87);
}